/* Design for desktop displays from 1280×720 to 1920×1080 */
/* Design for tablet displays  from  601×962 to 1280× 800 */
/* Design for mobile displays  from  360×640 to  414× 896 */

/* screen and (max-device-width: 962px), 
   screen and (max-width: 610px)         */

@media (min-aspect-ratio: 8/5) {

	/* body.dark-theme {--color-background: green !important} */
	
	#barre-outils {
		font-size: 1.25em !important;
	}
	
	.info-modal {
		font-size: 0.625em !important;
	}
}

@media (min-device-width: 962px) {

	/* body.dark-theme {--color-background: blue !important} */
	
	#barre-outils {
		font-size: 1em !important;
	}
	
	.info-modal {
		font-size: 1em !important;
	}

	input[type='radio'] { 
		-webkit-transform: none !important; 
		    -ms-transform: none !important; 
		        transform: none !important;
	}
}

/* .dark-theme {--color-background: red !important} */

html {
	font-size: 5vw;
}

h1 {
	font-size: 1.2em;
}

#frise-evenements {
	padding-top: 3.2em;
}

.info-modal {
	max-width: 80%;
	max-height: 80%;
}

.info-flex {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.info-contenu {
	margin-bottom: 0;
	padding-right: 0;
}

.info-contenu p,
.info-contenu form, 
.info-contenu h2 {
	padding: 0 1rem 0 1rem;
}

.info-photo-bloc {
	width: 60%;
	max-height: none;
	padding: 0.5em 1.25em 1em 1.25em;
	font-size: 0.9em;
}

.info-fermer {
	margin-right: 1em;
}

#barre-outils {
	-webkit-transform: translateY(-30%);
	    -ms-transform: translateY(-30%);
	        transform: translateY(-30%);
	font-size: 5vw;
}

#informations .info-contenu {
	padding-left: 0;
}

#informations .info-flex::before {
	margin: 1em 1em 0 1em;
}

input[type='radio'] { 
	-webkit-transform: scale(1.5); 
	    -ms-transform: scale(1.5); 
	        transform: scale(1.5);
}